.card-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

img {
  width: 210px;
  height: 180px;
}

.type-fav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.favourite {
  font-size: 25px;
  color: red;
}
.heart {
  font-size: 25px;
}
