.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 30%;
  line-height: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.fav-btn {
  width: 15% !important;
  font-size: 14px; 
}

.fav-btn i {
  padding-right: 8px;
  color: red;
}